{% extends 'base.html.twig' %}

{% block body %}
    {% if is_granted('ROLE_USER') %}
    <h1>zalogowany!</h1>
    <li><a href="{{ path('logout') }}">wyloguj</a></li>
    <li><a href="{{ path('test') }}">podstrona test</a></li>
    {% else %}
    <h3>niezalogowany :( </h3>
    {% endif %}
{% endblock %}

{#{% block stylesheets %}#}
{#{% endblock %}#}
