body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    color: #757575;
}

ul {
    list-style: none;
}

input, textarea {
    border-radius: 0 !important
}

.top-menu > div {
    padding: 10px
}

.top-nav {
    padding: 20px 0;
    border-bottom: 1px solid #c8c8c8
}

.user_menu li {
    float: left;
    height: 60px;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 10px;
}

.user_menu li a {
    text-decoration: none;
    color: #757575;
    font-weight: 700;
}

.user_menu li a:hover {
    color: #c9262f;
}

.nav-link i {
    margin-right: 5px;
}

label {
    background-color: #f4f4f4;
    border: 1.5px solid #e2e2e2;
    padding: 10px 15px;
    width: 100%
}

#username {
    height: 45px;
    padding-left: 20px;
    font-size: 15px;
    line-height: 3;
    color: white;
    text-decoration: none;
    width: 115px;
    text-align: right;
}

.log-border {
    border-left: 1px solid white;
}

.logout {
    height: 45px;
    font-size: 15px;
    line-height: 3;
    color: white;
    text-decoration: none;
    width: 115px;
}

.logout:hover {
    color: #757575;
    text-decoration: none;
}

.logo-nav {
    line-height: 2.5;
}

.logo-nav img {
    width: 120px;
}

.clearfix {
    clear: both;
}

.top-menu {
    background-color: #c9262e;
    height: 65px;
}

.votum-red {
    background-color: #c9262e !important;
}

.container ul {
    margin-top: 0px;
}

button {
    align: right !important;
}

.left {
    float: left;
}

.right {
    float: right;
}

@media (min-width: 768px) {
    #mobile-nav {
        display: none;
    }

    .base-data-mobile {
        display: none;
    }
}

@media (max-width: 767px) {
    body {
        padding-bottom: 80px;
    }

    .base-data {
        display: none;
    }

    .base-data-mobile {
        display: block;
        line-height: 2;
        text-align: center;
        background-color: #9c1920;
        box-shadow: 0 0 20px 0px #9c1920;
    }

    .base-data-mobile p {
        margin-bottom: 0px;
        color: white;
        font-size: 13px;
        display: inline-block;
    }

    #desktop-nav {
        display: none;
    }

    #mobile-nav {
        position: fixed;
        bottom: 0;
        border-top: 1px solid #c8c8c8;
        padding-bottom: 0px;
        background-color: white;
        z-index: 4
    }

    .top-nav {
        border: none;
        padding: 0
    }

    .nav-link {
        padding: 10px 0;
    }

    .nav-link i {
        font-size: 36px;
        margin: 0
    }

    .user_menu li {
        padding: 0;
        height: 80px;
        margin: 0
    }

    #grid, #grid table {
        font-size: 9px;
    }

    #grid2, #grid2 table {
        font-size: 9px;
    }

    .element-header {
        font-size: 10px
    }

    .question-content {
        font-size: 12px;
    }

    .main-header h1 {
        font-size: 24px
    }

    #general-amount {
        font-size: 100%;
    }

    #claimed-amount {
        font-size: 100%
    }

    #contribution {
        font-size: 100%
    }

    .main-table tr {
        height: 45px;
        line-height: 1.2;
        font-size: 10px;
    }

    .commentPopup .card-block-content {
        max-height: 40vh;
        overflow-y: auto;
    }

    .commentPopup .element-header {
        padding: 10px 10px;
    }

    .commentPopup .element-header {
        font-size: 16px
    }
}

@media (max-width: 500px) {
    .nav-link i {
        font-size: 24px;
        margin: 0
    }

    .nav-link p {
        font-size: 13px
    }

    .user_menu li a {
        padding: 10px 5px;
    }
}